@model IEnumerable<PrescriptionHQ.Models.Prescription>

@{
    ViewData["Title"] = "PharmacyRequest";
}

<div class="card" style="width: auto;">

    <div class="card-title">
        <h1>Prescription Request</h1>
    </div>

    <div class="card-body">

        @using (Html.BeginForm())
        {
            <p>
                Find by name: @Html.TextBox("SearchString")
                <input type="submit" value="Search" />
            </p>
        }
        <table class="table">
            <tr>

            <thead>
                <tr>

                    <th>
                        Refill Request  @*@Html.ActionLink("Patient Name", "PharmacyRequest", new { sortOrder = ViewBag.NameSortParm })*@
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Drug)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Dosage)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.DateFilled)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DatePrescribed)
                    </th>
                    <th>
                        @Html.ActionLink("Refill Requested", "PharmacyRequest", new { sortOrder = ViewBag.RefillSortParm })
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.User.FirstName)  @Html.DisplayFor(modelItem => item.User.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Drug)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dosage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateFilled)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatePrescribed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RefillRequested)
                        </td>

                        <td>

                            <a asp-action="Details" asp-route-id="@item.PrescriptionId">Details</a> |
                            <a asp-action="Edit" asp-route-id="@item.PrescriptionId">Fill </a> |
                            <a asp--area="" asp-controller="Home" asp-action="Contact" asp-route-patientName="@item.PatientName" asp-route-patientEmail="@item.User.Email" onclick="return alert('Your email has been sent');">Notify Patient</a>

                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

